@use '../abstract/index' as a;

.card {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  overflow: hidden;
  background-color: white;
  border-radius: 0.625rem;

  @include a.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    width: 37.5rem;
  }

  &__details {
    display: grid;
    gap: 1.62rem;
    padding: 2rem;

    &--overline {
      @include a.typography(overline);
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    &--green-display {
      @include a.typography(display);
      color: var(--clr-accent-color-400);
    }
  }
}